:root{
  --prcolor:#FFFFFF
  --scolor:#1D1D1D
}

.App {
  text-align: center;
}
.sidecont {
  display: flex;
  flex-direction: column;
  width: fit-content;

  width: 335px;
}
.return {
  display: flex;
}
.homecont {
  display: grid;
  grid-template-columns: 268px 1fr;
}
.instalogo {
  width: 103px;
  height: 29px;
  flex-shrink: 0;
  /* margin: 36px 150px 50px 36px; */
  margin-top: 35px;
  margin-left: 20px;
  padding: 0;
}
.instalogo1 {
  width: 103px;
  height: 29px;
margin: auto;
}
.logocont {
  height: 92px;
}
.navitem {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
  padding: 6px;
  
  
}
.Navcont {
  position: fixed;
  height: 100%;
  width: 245px;
  border-right: 2px solid #1D1D1D;
}
.navs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: auto;
}
.profile-pic{
  width: 30px;
  border-radius: 50%;
}
.menu-item{
  position: absolute;
  bottom: 30px;
  width: 90%;
}
.navitem:hover{
  background-color: #1D1D1D;
  border-radius: 10px;
}
.home-split{
  display: flex;
  
}
.posts-story{
  width: 60%;
  margin: auto;
}
.newfollower{
  width: 537px;
  height: 100%;
}
.story-border{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(230deg, #D300C5 11.19%, #FF234B 50.32%, #FFC900 125.69%);;
  padding: 3px;
}


.story-border img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;

}

.storycont{
  margin-top: 50px;
  display: flex; 
  border-bottom: 2px solid #1D1D1D;
}
.story{
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container{
  width: fit-content;
  margin: auto;
}
.postinfo{
  display: flex;
  gap: 10px;
  

}
.postcon{
  margin-top: 20px;
}
.more{
  margin-left: auto;
  margin-top: 15px;
}

.story-border2{

  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(230deg, #D300C5 11.19%, #FF234B 50.32%, #FFC900 125.69%);;
  padding: 3px;
  margin-top: 10px;
}


.story-border2 img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;

}
.name-time{
  display: flex;
 justify-content: center;

}
.pointbetween{
  width: 4.864px;
height: 4px;
border-radius: 50%;
background-color: gray;
margin-left: 6px;
margin-right: 2px;
margin-top: 27px;
}
.postimg{
  width: 100%;
}
.interact-withpost{
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.ptext{
  padding: 0;
  margin: 0;
}
.newfollowercont{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  
}
.newfollower{
  margin-top: 50px;
}
.addbtn{
  margin-left: auto;
}
.newfollower-cont{
  width: 70%;
  margin: auto;
}
.suggstion{
  display: flex;
  justify-content: space-between;
}

Link{
  text-decoration: none;
  color: black;
}
.messages-con{
  display: grid;
  grid-template-columns: 246px 337.518px 1fr;
  
  
}
.message-dispaly{
  
  height: 98vh;
  
  padding-top: 10px;
  
}
.msgheader{
  display: flex;
  align-items: center;
  
}
.creatgroup{
  margin-left: auto;
  margin-top: 10px;
}
.msginfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 21px;
  
}
.section1{
  border-right: 2px solid #1D1D1D;
}

.start-messaging{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Explorestrsuc{
  display: grid;
  grid-template-columns:246px 1fr ;
}
.explorestruc{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 10px;

}
.profileinfo{
  display: flex;
  gap: 100px;
  margin-top: 50px;
}
.profileinfo img{
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.profilebtn{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 123px;
  height: 32px;
  margin-top: 15px;
}
.name-2btn{
  display: flex;
  justify-items: center;
  gap: 10px;
}
.profiledatainfo{
  display: flex;
  justify-content: space-between;
}

.postsreelstagged{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 40%;
  height: 65px;
  margin: auto;
  margin-top: 50px;
}
.postswitch{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.postinprofile{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.signupclick{
  display: flex;
  align-items: center;
  margin: auto;
  
  justify-content: center;
  background-color: #2F69C4;
  width: 250px;
height: 38px;
border-radius: 10px;
}

.texttest{
  color: rgba(255, 255, 255, 0.53);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 0.16px;
margin-bottom: 10px;
}
.signincont{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 60px;
}

/* images style  */
.parent {
  position: relative;

}
.image1 {
  position: relative;
  top: 30px;
  left: 0;
}
.image2 {
  position: absolute;
  height: 40px;
  right: 100px;
}